@import "compass/css3"
@import "compass/css3/font-face"
@include font-face("Cabin", font-files("Cabin-Medium-TTF.ttf", "Cabin-Regular.otf"))
@import url(https://fonts.googleapis.com/css?family=Cabin)



p
    color: white
    font: bold 15px  Arial, sans-serif
    text-align: left
    

h1
    color: black
    font: 28px Arial 
    positon: absolute
    margin-left: 420px
    margin-top: 20px
    clear: both


#list 
    box-sizing: content-box
    color: rgb(255, 255, 255)
    height: 20px
    resize: none
    text-align: left
    width: 397px
    perspective-origin: 400px 15px
    transform-origin: 400px 15px
    background-color: rgb(67,67,67)
    border: 0px none rgb(255, 255, 255)
    font:  15px  Arial, sans-serif
    outline: rgb(255, 255, 255) none 0px
    padding: 8px 0px
    display: block
    clear: both
    float: bottom
    position: absolute
    left: 400px
    bottom: 390px    




#invoice 
    box-sizing: content-box
    color: rgb(255, 255, 255)
    height: 20px
    resize: none
    text-align: center
    width: 397px
    perspective-origin: 400px 15px
    transform-origin: 400px 15px
    background-color: rgb(67,67,67)
    border: 0px none rgb(255, 255, 255)
    font:  15px  Arial, sans-serif
    outline: rgb(255, 255, 255) none 0px
    padding: 8px 0px
    display: block
    clear: both
    float: bottom
    position: absolute
    left: 400px
    bottom: 450px


#date 
    box-sizing: content-box
    color: black 
    height: 25px
    resize: none
    text-align: center
    width: 160px
    perspective-origin: 400px 15px
    transform-origin: 400px 15px
    background-color: rgb(218, 218, 219)
    border: 0px none rgb(255, 255, 255)
    font:  20px  Arial, sans-serif
    outline: rgb(255, 255, 255) none 0px
 
    display: block
    clear: both
    
    position: absolute
    left: 666px
    bottom: 634px
   




#edward 
    box-sizing: content-box
    
    height: 110px
    resize: none
    width: 175px
    perspective-origin: 125px 75px
    transform-origin: 125px 75px
    font: 13px Cabin
    overflow: hidden
    padding: 0px
    background-color: rgb(67,67,67)
    margin-left: 422px
    color: white


#josh 
    box-sizing: content-box
    display: block
    float: center
    width:  186px
    height: 110px
    resize: none
    perspective-origin: 125px 75px
    transform-origin: 125px 75px
    font: 13px Cabin
    overflow: hidden
    padding: 0px
    background-color: rgb(67,67,67)
    margin-left: 632px
    margin-top: -157px
    margin-bottom: 40px
    color: white


#container 
    position: absolute
    top: 75px

#container2 
    position: absolute
    bottom: -16px
    left: 30px 




textarea
    background-color: gray



th th
    
    width: 400px
    height: 22px
    margin-left: 390px
    margin-bottom: -60px
    background-color: white
    color: black
    text-align: left
    padding-left: 20px
    border: solid 1px black 
    float: none 
    position: absolute
    bottom: 200px
    font: 15px Arial    




#box_container
    position: absolute
    bottom: 210px
    left: 40px


#col_1
    
    width: 375px
    height: 22px
    margin-left: 390px
    margin-bottom: -60px
    background-color: white
    color: black
    text-align: left
    padding-left: 20px
    border: solid 1px black 
    float: none 
    position: absolute
    bottom: 200px
    font: 12px Arial


#col_2
    
    width: 375px
    height: 22px
    margin-left: 390px
    margin-bottom: -83px
    background-color: white
    color: black
    text-align: left
    padding-left: 20px
    border: solid 1px black 
    float: none 
    position: absolute
    bottom: 200px
    font: 15px Arial 

#col_3
    
    width: 375px
    height: 22px
    margin-left: 390px
    margin-bottom: -106px
    background-color: white
    color: black
    text-align: left
    padding-left: 20px
    border: solid 1px black 
    float: none 
    position: absolute
    bottom: 200px
    font: 15px Arial 


#col_4
    
    width: 375px
    height: 22px
    margin-left: 390px
    margin-bottom: -129px
    background-color: white
    color: black
    text-align: left
    padding-left: 20px
    border: solid 1px black 
    float: none 
    position: absolute
    bottom: 200px
    font: 15px Arial 


#col_5
    
    width: 375px
    height: 153px
    margin-left: 390px
    margin-bottom: -283px
    background-color: white
    color: black
    text-align: left
    padding-left: 20px
    border: solid 1px black 
    float: none 
    position: absolute
    bottom: 200px
    font: 15px Arial     


#dis_1
    
    width: 75px
    height: 22px
    margin-left: 690px
    margin-bottom: -60px
    background-color: white
    color: black
    text-align: left
    padding-left: 20px
    border: solid 1px black 
    float: none 
    position: absolute
    bottom: 200px
    font: 12px Arial
    text-align: right
    display: table-cell    

#dis_2
    
    width: 75px
    height: 22px
    margin-left: 690px
    margin-bottom: -83px
    background-color: white
    color: black
    text-align: left
    padding-left: 20px
    border: solid 1px black 
    float: none 
    position: absolute
    bottom: 200px
    font: 15px Arial
    text-align: right
    display: table-cell   

#dis_3
    
    width: 75px
    height: 22px
    margin-left: 690px
    margin-bottom: -106px
    background-color: white
    color: black
    text-align: left
    padding-left: 20px
    border: solid 1px black 
    float: none 
    position: absolute
    bottom: 200px
    font: 15px Arial
    text-align: right
    display: table-cell 


#dis_4
    
    width: 75px
    height: 22px
    margin-left: 690px
    margin-bottom: -129px
    background-color: white
    color: black
    text-align: left
    padding-left: 20px
    border: solid 1px black 
    float: none 
    position: absolute
    bottom: 200px
    font: 15px Arial
    text-align: right
    display: table-cell 


#dis_5
    
    width: 75px
    height: 31px
    margin-left: 690px
    margin-bottom: -283px
    background-color: white
    color: black
    text-align: bottom
    padding-left: 20px
    border: solid 1px black 
    float: none 
    position: absolute
    bottom: 200px
    font: 10px Arial
    text-align: right
    display: table-cell  


#dis_6
    
    width: 75px
    height: 31px
    margin-left: 690px
    margin-bottom: -251px
    background-color: white
    color: black
    text-align: left
    padding-left: 20px
    border: solid 1px black 
    float: none 
    position: absolute
    bottom: 200px
    font: 8px Arial
    text-align: right
    display: table-cell            


#dis_7
    
    width: 75px
    height: 31px
    margin-left: 594px
    margin-bottom: -251px
    background-color: white
    color: black
    text-align: left
    padding-left: 20px
    border: solid 1px black 
    float: none 
    position: absolute
    bottom: 200px
    font: 11px Arial
    text-align: center
    display: table-cell   

#dis_8
    
    width: 75px
    height: 31px
    margin-left: 594px
    margin-bottom: -283px
    background-color: white
    color: black
    text-align: left
    padding-left: 20px
    border: solid 1px black 
    float: none 
    position: absolute
    bottom: 200px
    font: 11px Arial
    text-align: center
    display: table-cell      

    














