@import "compass/css3"
@import "compass/css3/font-face"
@include font-face("Cabin", font-files("Cabin-Medium-TTF.ttf", "Cabin-Regular.otf"))
@import url(https://fonts.googleapis.com/css?family=Cabin)


.container
    width: 400px
    margin: 0 auto

.content-left
    // To positing a <div> left
    float: left
    width: 50%

.content-right
    // To positing a <div> right
    float: left
    width: 50%

.align-left
    // For <div> containing text to align
    text-align: left

.align-right
    // For <div> containing text to align
    text-align: right

.text-left
    // For <span> elements
    display: inline-block
    float: left

.text-right
    // For <span> elements
    display: inline-block
    float: right

h1.invoice-text
    color: black
    font: 28px Arial
    margin-top: 20px

#date
    box-sizing: content-box
    color: black
    background-color: rgb(218, 218, 219)
    font:  20px  Arial, sans-serif
    display: inline-block
    margin-top: 20px
    padding: 3px

#contacts
    top: 75px

#bill-to, #payments-to
    box-sizing: border-box
    background-color: rgb(67,67,67)
    color: white
    font: 13px Cabin
    padding: 10px 12px
    min-height: 110px
    p
        margin-top: 0
        margin-bottom: 5px
        font: bold 15px  Arial, sans-serif

#bill-to
    margin-right: 10px

#payments-to
    margin-left: 10px

#invoice-terms
    box-sizing: border-box
    margin-top: 20px
    height: 36px
    padding: 8px 12px
    background-color: rgb(67,67,67)
    color: rgb(255, 255, 255)
    font:  15px  Arial, sans-serif

#table-header
    box-sizing: border-box
    margin-top: 20px
    height: 36px
    padding: 8px 12px
    background-color: rgb(67,67,67)
    color: rgb(255, 255, 255)
    font:  15px  Arial, sans-serif

#box-container
    position: relative
    height: 255px

.cell
    position: absolute
    height: 14px
    // 4px vertically centers the text:
    padding: 4px 12px
    border: solid 1px black
    font: 12px Arial
    &.description
        width: 374px
        left: 0
        text-align: left
    &.amount
        width: 78px
        right: 0px
        text-align: right
#col_1
    top: 0

#col_2
    top: 23px

#col_3
    top: 46px

#col_4
    top: 69px

#col_5
    height: 153px
    top: 92px

#dis_1
    top: 0

#dis_2
    top: 23px

#dis_3
    top: 46px

#dis_4
    top: 69px

#credit-text, #total-text, #credit-amount, #total-amount
    width: 86px
    height: 23px
    // 8px for vertically aligning text
    padding-top: 8px
    position: absolute
    border: solid 1px black

#credit-text, #total-text
    padding-left: 12px
    font: 11px Arial

#credit-amount, #total-amount
    text-align: right
    padding-right: 12px
    font: 12px Arial

#credit-text
    bottom: 32px
    right: 99px

#total-text
    bottom: 0
    right: 99px

#credit-amount
    bottom: 32px
    right: 0

#total-amount
    bottom: 0
    right: 0
