@import url(https://fonts.googleapis.com/css?family=Cabin);
@font-face {
  font-family: "Cabin";
  src: url('/styles///fonts/Cabin-Medium-TTF.ttf') format('truetype'), url('/styles///fonts/Cabin-Regular.otf') format('opentype');
}

/* line 8, sass/CHANGING.sass */
p {
  color: white;
  font: bold 15px Arial, sans-serif;
  text-align: left;
}

/* line 13, sass/CHANGING.sass */
h1 {
  color: black;
  font: 28px Arial;
  positon: absolute;
  margin-left: 420px;
  margin-top: 20px;
  clear: both;
}

/* line 22, sass/CHANGING.sass */
#list {
  box-sizing: content-box;
  color: white;
  height: 20px;
  resize: none;
  text-align: center;
  width: 400px;
  perspective-origin: 400px 15px;
  transform-origin: 400px 15px;
  background-color: #434343;
  border: 0px none white;
  font: 15px Arial, sans-serif;
  outline: white none 0px;
  padding: 8px 0px;
  display: block;
  clear: both;
  float: bottom;
  position: absolute;
  left: 400px;
  bottom: 390px;
}

/* line 46, sass/CHANGING.sass */
#invoice {
  box-sizing: content-box;
  color: white;
  height: 20px;
  resize: none;
  text-align: center;
  width: 400px;
  perspective-origin: 400px 15px;
  transform-origin: 400px 15px;
  background-color: #434343;
  border: 0px none white;
  font: 15px Arial, sans-serif;
  outline: white none 0px;
  padding: 8px 0px;
  display: block;
  clear: both;
  float: bottom;
  position: absolute;
  left: 400px;
  bottom: 450px;
}

/* line 68, sass/CHANGING.sass */
#date {
  box-sizing: content-box;
  color: black;
  height: 25px;
  resize: none;
  text-align: center;
  width: 160px;
  perspective-origin: 400px 15px;
  transform-origin: 400px 15px;
  background-color: #dadadb;
  border: 0px none white;
  font: 20px Arial, sans-serif;
  outline: white none 0px;
  display: block;
  clear: both;
  position: absolute;
  left: 650px;
  bottom: 622px;
}

/* line 93, sass/CHANGING.sass */
#edward {
  box-sizing: content-box;
  height: 110px;
  resize: none;
  width: 173px;
  perspective-origin: 125px 75px;
  transform-origin: 125px 75px;
  font: 12px Cabin;
  overflow: hidden;
  padding: 0px;
  background-color: #434343;
  margin-left: 422px;
  color: white;
}

/* line 109, sass/CHANGING.sass */
#josh {
  box-sizing: content-box;
  display: block;
  float: center;
  width: 173px;
  height: 110px;
  resize: none;
  perspective-origin: 125px 75px;
  transform-origin: 125px 75px;
  font: 14px Georgia, serif;
  overflow: hidden;
  padding: 0px;
  background-color: #434343;
  margin-left: 632px;
  margin-top: -157px;
  margin-bottom: 40px;
  color: white;
}

/* line 128, sass/CHANGING.sass */
#container {
  position: absolute;
  top: 75px;
}

/* line 132, sass/CHANGING.sass */
#container2 {
  position: absolute;
  bottom: -50px;
}

/* line 139, sass/CHANGING.sass */
textarea {
  background-color: gray;
}

/* line 144, sass/CHANGING.sass */
th th {
  width: 400px;
  height: 22px;
  margin-left: 390px;
  margin-bottom: -60px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 15px Arial;
}

/* line 163, sass/CHANGING.sass */
#box_container {
  position: absolute;
  bottom: 130px;
}

/* line 168, sass/CHANGING.sass */
#col_1 {
  width: 375px;
  height: 22px;
  margin-left: 390px;
  margin-bottom: -60px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 15px Arial;
}

/* line 185, sass/CHANGING.sass */
#col_2 {
  width: 400px;
  height: 22px;
  margin-left: 390px;
  margin-bottom: -83px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 15px Arial;
}

/* line 201, sass/CHANGING.sass */
#col_3 {
  width: 400px;
  height: 22px;
  margin-left: 390px;
  margin-bottom: -106px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 15px Arial;
}

/* line 218, sass/CHANGING.sass */
#col_4 {
  width: 400px;
  height: 22px;
  margin-left: 390px;
  margin-bottom: -129px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 15px Arial;
}

/* line 235, sass/CHANGING.sass */
#col_5 {
  width: 400px;
  height: 153px;
  margin-left: 390px;
  margin-bottom: -302px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 15px Arial;
}

/* line 252, sass/CHANGING.sass */
#dis_1 {
  width: 100px;
  height: 22px;
  margin-left: 690px;
  margin-bottom: -60px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 15px Arial;
  text-align: right;
  display: table-cell;
}

/* line 270, sass/CHANGING.sass */
#dis_2 {
  width: 100px;
  height: 22px;
  margin-left: 690px;
  margin-bottom: -83px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 15px Arial;
  text-align: right;
  display: table-cell;
}

/* line 288, sass/CHANGING.sass */
#dis_3 {
  width: 100px;
  height: 22px;
  margin-left: 690px;
  margin-bottom: -106px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 15px Arial;
  text-align: right;
  display: table-cell;
}

/* line 307, sass/CHANGING.sass */
#dis_4 {
  width: 100px;
  height: 22px;
  margin-left: 690px;
  margin-bottom: -129px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 15px Arial;
  text-align: right;
  display: table-cell;
}
