@import url(https://fonts.googleapis.com/css?family=Cabin);
@font-face {
  font-family: "Cabin";
  src: url('/styles/fonts/Cabin-Medium-TTF.ttf') format('truetype'), url('/styles/fonts/Cabin-Regular.otf?1448653877') format('opentype');
}
/* line 7, sass/invoice.sass */
.container {
  width: 400px;
  margin: 0 auto;
}

/* line 11, sass/invoice.sass */
.content-left {
  float: left;
  width: 50%;
}

/* line 16, sass/invoice.sass */
.content-right {
  float: left;
  width: 50%;
}

/* line 21, sass/invoice.sass */
.align-left {
  text-align: left;
}

/* line 25, sass/invoice.sass */
.align-right {
  text-align: right;
}

/* line 29, sass/invoice.sass */
.text-left {
  display: inline-block;
  float: left;
}

/* line 34, sass/invoice.sass */
.text-right {
  display: inline-block;
  float: right;
}

/* line 39, sass/invoice.sass */
h1.invoice-text {
  color: black;
  font: 28px Arial;
  margin-top: 20px;
}

/* line 44, sass/invoice.sass */
#date {
  box-sizing: content-box;
  color: black;
  background-color: #dadadb;
  font: 20px Arial, sans-serif;
  display: inline-block;
  margin-top: 20px;
  padding: 3px;
}

/* line 53, sass/invoice.sass */
#contacts {
  top: 75px;
}

/* line 56, sass/invoice.sass */
#bill-to, #payments-to {
  box-sizing: border-box;
  background-color: #434343;
  color: white;
  font: 13px Cabin;
  padding: 10px 12px;
  min-height: 110px;
}
/* line 63, sass/invoice.sass */
#bill-to p, #payments-to p {
  margin-top: 0;
  margin-bottom: 5px;
  font: bold 15px Arial, sans-serif;
}

/* line 68, sass/invoice.sass */
#bill-to {
  margin-right: 10px;
}

/* line 71, sass/invoice.sass */
#payments-to {
  margin-left: 10px;
}

/* line 74, sass/invoice.sass */
#invoice-terms {
  box-sizing: border-box;
  margin-top: 20px;
  height: 36px;
  padding: 8px 12px;
  background-color: #434343;
  color: white;
  font: 15px Arial, sans-serif;
}

/* line 83, sass/invoice.sass */
#table-header {
  box-sizing: border-box;
  margin-top: 20px;
  height: 36px;
  padding: 8px 12px;
  background-color: #434343;
  color: white;
  font: 15px Arial, sans-serif;
}

/* line 92, sass/invoice.sass */
#box-container {
  position: relative;
  height: 255px;
}

/* line 96, sass/invoice.sass */
.cell {
  position: absolute;
  height: 14px;
  padding: 4px 12px;
  border: solid 1px black;
  font: 12px Arial;
}
/* line 103, sass/invoice.sass */
.cell.description {
  width: 374px;
  left: 0;
  text-align: left;
}
/* line 107, sass/invoice.sass */
.cell.amount {
  width: 78px;
  right: 0px;
  text-align: right;
}

/* line 111, sass/invoice.sass */
#col_1 {
  top: 0;
}

/* line 114, sass/invoice.sass */
#col_2 {
  top: 23px;
}

/* line 117, sass/invoice.sass */
#col_3 {
  top: 46px;
}

/* line 120, sass/invoice.sass */
#col_4 {
  top: 69px;
}

/* line 123, sass/invoice.sass */
#col_5 {
  height: 153px;
  top: 92px;
}

/* line 127, sass/invoice.sass */
#dis_1 {
  top: 0;
}

/* line 130, sass/invoice.sass */
#dis_2 {
  top: 23px;
}

/* line 133, sass/invoice.sass */
#dis_3 {
  top: 46px;
}

/* line 136, sass/invoice.sass */
#dis_4 {
  top: 69px;
}

/* line 139, sass/invoice.sass */
#credit-text, #total-text, #credit-amount, #total-amount {
  width: 86px;
  height: 23px;
  padding-top: 8px;
  position: absolute;
  border: solid 1px black;
}

/* line 147, sass/invoice.sass */
#credit-text, #total-text {
  padding-left: 12px;
  font: 11px Arial;
}

/* line 151, sass/invoice.sass */
#credit-amount, #total-amount {
  text-align: right;
  padding-right: 12px;
  font: 12px Arial;
}

/* line 156, sass/invoice.sass */
#credit-text {
  bottom: 32px;
  right: 99px;
}

/* line 160, sass/invoice.sass */
#total-text {
  bottom: 0;
  right: 99px;
}

/* line 164, sass/invoice.sass */
#credit-amount {
  bottom: 32px;
  right: 0;
}

/* line 168, sass/invoice.sass */
#total-amount {
  bottom: 0;
  right: 0;
}
