@import url(https://fonts.googleapis.com/css?family=Cabin);
@font-face {
  font-family: "Cabin";
  src: url('/styles///fonts/Cabin-Medium-TTF.ttf') format('truetype'), url('/styles///fonts/Cabin-Regular.otf') format('opentype');
}

/* line 9, sass/invoice.sass */
#pad {
  position: relative;
  top: -12px;
}

/* line 17, sass/invoice.sass */
p {
  color: white;
  font: bold 15px Arial, sans-serif;
  text-align: left;
}

/* line 23, sass/invoice.sass */
h1 {
  color: black;
  font: 28px Arial;
  positon: fixed;
  margin-left: 420px;
  margin-top: 20px;
  clear: both;
}

/* line 32, sass/invoice.sass */
#list {
  box-sizing: content-box;
  color: white;
  height: 20px;
  resize: none;
  text-align: left;
  width: 397px;
  perspective-origin: 400px 15px;
  transform-origin: 400px 15px;
  background-color: #434343;
  border: 0px none white;
  font: 15px Arial, sans-serif;
  outline: white none 0px;
  padding: 8px 0px;
  display: block;
  clear: both;
  float: bottom;
  position: absolute;
  left: 400px;
  bottom: 390px;
}

/* line 56, sass/invoice.sass */
#invoice {
  box-sizing: content-box;
  color: white;
  height: 20px;
  resize: none;
  text-align: center;
  width: 397px;
  perspective-origin: 400px 15px;
  transform-origin: 400px 15px;
  background-color: #434343;
  border: 0px none white;
  font: 15px Arial, sans-serif;
  outline: white none 0px;
  padding: 8px 0px;
  display: block;
  clear: both;
  float: bottom;
  position: absolute;
  left: 400px;
  bottom: 450px;
}

/* line 78, sass/invoice.sass */
#date {
  box-sizing: content-box;
  color: black;
  height: 25px;
  resize: none;
  text-align: center;
  width: 160px;
  perspective-origin: 400px 15px;
  transform-origin: 400px 15px;
  background-color: #dadadb;
  border: 0px none white;
  font: 20px Arial, sans-serif;
  outline: white none 0px;
  display: block;
  clear: both;
  position: fixed;
  left: 666px;
  bottom: 634px;
}

/* line 103, sass/invoice.sass */
#edward {
  box-sizing: border-box;
  height: 110px;
  resize: none;
  width: 175px;
  perspective-origin: 125px 75px;
  transform-origin: 125px 75px;
  font: 13px Cabin;
  overflow: hidden;
  padding-bottom: 50px;
  background-color: #434343;
  margin-left: 422px;
  color: white;
  border-collapse: separate;
}

/* line 119, sass/invoice.sass */
#josh {
  box-sizing: border-box;
  display: block;
  float: center;
  width: 186px;
  height: 110px;
  resize: none;
  perspective-origin: 125px 75px;
  transform-origin: 125px 75px;
  font: 13px Cabin;
  overflow: hidden;
  padding: 0px;
  background-color: #434343;
  margin-left: 632px;
  margin-top: -157px;
  margin-bottom: 40px;
  color: white;
}

/* line 138, sass/invoice.sass */
#container {
  position: fixed;
  top: 75px;
}

/* line 142, sass/invoice.sass */
#container2 {
  position: fixed;
  bottom: -16px;
  left: 30px;
}

/* line 150, sass/invoice.sass */
textarea {
  background-color: gray;
}

/* line 155, sass/invoice.sass */
th th {
  width: 400px;
  height: 22px;
  margin-left: 390px;
  margin-bottom: -60px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 15px Arial;
}

/* line 174, sass/invoice.sass */
#box_container {
  position: fixed;
  bottom: 210px;
  left: 40px;
}

/* line 180, sass/invoice.sass */
#col_1 {
  width: 375px;
  height: 22px;
  margin-left: 390px;
  margin-bottom: -60px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 12px Arial;
}

/* line 197, sass/invoice.sass */
#col_2 {
  width: 375px;
  height: 22px;
  margin-left: 390px;
  margin-bottom: -83px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 15px Arial;
}

/* line 213, sass/invoice.sass */
#col_3 {
  width: 375px;
  height: 22px;
  margin-left: 390px;
  margin-bottom: -106px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 15px Arial;
}

/* line 230, sass/invoice.sass */
#col_4 {
  width: 375px;
  height: 22px;
  margin-left: 390px;
  margin-bottom: -129px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 15px Arial;
}

/* line 247, sass/invoice.sass */
#col_5 {
  width: 375px;
  height: 153px;
  margin-left: 390px;
  margin-bottom: -283px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 15px Arial;
}

/* line 264, sass/invoice.sass */
#dis_1 {
  width: 75px;
  height: 22px;
  margin-left: 690px;
  margin-bottom: -60px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 12px Arial;
  text-align: right;
  display: table-cell;
}

/* line 282, sass/invoice.sass */
#dis_2 {
  width: 75px;
  height: 22px;
  margin-left: 690px;
  margin-bottom: -83px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 15px Arial;
  text-align: right;
  display: table-cell;
}

/* line 300, sass/invoice.sass */
#dis_3 {
  width: 75px;
  height: 22px;
  margin-left: 690px;
  margin-bottom: -106px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 15px Arial;
  text-align: right;
  display: table-cell;
}

/* line 319, sass/invoice.sass */
#dis_4 {
  width: 75px;
  height: 22px;
  margin-left: 690px;
  margin-bottom: -129px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 15px Arial;
  text-align: right;
  display: table-cell;
}

/* line 338, sass/invoice.sass */
#dis_5 {
  width: 75px;
  height: 31px;
  margin-left: 690px;
  margin-bottom: -283px;
  background-color: white;
  color: black;
  text-align: bottom;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 10px Arial;
  text-align: right;
  display: table-cell;
}

/* line 357, sass/invoice.sass */
#dis_6 {
  width: 75px;
  height: 31px;
  margin-left: 690px;
  margin-bottom: -251px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 8px Arial;
  text-align: right;
  display: table-cell;
}

/* line 376, sass/invoice.sass */
#dis_7 {
  width: 75px;
  height: 31px;
  margin-left: 594px;
  margin-bottom: -251px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 11px Arial;
  text-align: center;
  display: table-cell;
}

/* line 394, sass/invoice.sass */
#dis_8 {
  width: 75px;
  height: 31px;
  margin-left: 594px;
  margin-bottom: -283px;
  background-color: white;
  color: black;
  text-align: left;
  padding-left: 20px;
  border: solid 1px black;
  float: none;
  position: absolute;
  bottom: 200px;
  font: 11px Arial;
  text-align: center;
  display: table-cell;
}
