@import url(https://fonts.googleapis.com/css?family=Cabin);
@font-face {
  font-family: "Cabin";
  src: url('/styles/fonts/Cabin-Medium-TTF.ttf') format('truetype'), url('/styles/fonts/Cabin-Regular.otf?1448653877') format('opentype');
}
/* line 7, sass/invoice.sass */
.container {
  width: 400px;
  margin: 0 auto;
}

/* line 11, sass/invoice.sass */
.content-left {
  float: left;
  width: 50%;
}

/* line 16, sass/invoice.sass */
.content-right {
  float: left;
  width: 50%;
}

/* line 21, sass/invoice.sass */
.align-left {
  text-align: left;
}

/* line 25, sass/invoice.sass */
.align-right {
  text-align: right;
}

/* line 29, sass/invoice.sass */
.text-left {
  display: inline-block;
  float: left;
}

/* line 34, sass/invoice.sass */
.text-right {
  display: inline-block;
  float: right;
}

/* line 39, sass/invoice.sass */
h1.invoice-text {
  color: black;
  font: 28px Arial;
  margin-top: 20px;
}

/* line 44, sass/invoice.sass */
#date {
  box-sizing: content-box;
  color: black;
  background-color: #dadadb;
  font: 20px Arial, sans-serif;
  display: inline-block;
  margin-top: 20px;
  padding: 3px;
}

/* line 53, sass/invoice.sass */
#contacts {
  top: 75px;
}

/* line 56, sass/invoice.sass */
#bill-to, #payments-to {
  box-sizing: border-box;
  background-color: #434343;
  color: white;
  font: 13px Cabin;
  padding: 10px 12px;
  min-height: 110px;
}
/* line 63, sass/invoice.sass */
#bill-to p, #payments-to p {
  margin-top: 0;
  margin-bottom: 5px;
  font: bold 15px Arial, sans-serif;
}

/* line 68, sass/invoice.sass */
#bill-to {
  margin-right: 10px;
}

/* line 71, sass/invoice.sass */
#payments-to {
  margin-left: 10px;
}

/* line 74, sass/invoice.sass */
#invoice-terms {
  box-sizing: border-box;
  margin-top: 20px;
  height: 36px;
  padding: 8px 12px;
  background-color: #434343;
  color: white;
  font: 15px Arial, sans-serif;
}

/* line 83, sass/invoice.sass */
#table-header {
  box-sizing: border-box;
  margin-top: 20px;
  height: 36px;
  padding: 8px 12px;
  background-color: #434343;
  color: white;
  font: 15px Arial, sans-serif;
}

/* line 92, sass/invoice.sass */
#box-container {
  position: relative;
  height: 255px;
}

/* line 96, sass/invoice.sass */
table {
  margin-top: 20px;
  width: 100%;
}

/* line 100, sass/invoice.sass */
td {
  width: 33%;
  height: 14px;
  padding: 4px 12px;
  border: 1px solid black;
  border-top: 0;
  border-left: 0;
  font: 12px Arial;
}
/* line 109, sass/invoice.sass */
td.description {
  text-align: left;
}
/* line 111, sass/invoice.sass */
td.amount {
  text-align: right;
}
/* line 113, sass/invoice.sass */
td:first-child {
  border-left: 1px solid black;
}
/* line 115, sass/invoice.sass */
td.spacer {
  height: 60px;
  border-bottom: 0;
}
/* line 118, sass/invoice.sass */
td.left-spacer {
  border-bottom: 0;
}

/* line 121, sass/invoice.sass */
.credit-total-text, .credit-total-amount {
  height: 23px;
  padding-top: 8px;
}

/* line 126, sass/invoice.sass */
#credit-text, #credit-amount {
  border-top: solid 1px black;
}

/* line 129, sass/invoice.sass */
.credit-total-text {
  padding-left: 12px;
  font: 11px Arial;
}

/* line 133, sass/invoice.sass */
.credit-total-amount {
  text-align: right;
  padding-right: 12px;
  font: 12px Arial;
}
